## Hoàng Thị Kim Hoa

In [1]:
# Bai 1 :

In [19]:
# Nhập vào một chuỗi bất kỳ từ bàn phím
chuoi = input("Nhập một chuỗi: ")

chuoi_so = []

for ky_tu in chuoi:
    if '0' <= ky_tu <= '9':
        chuoi_so.append(int(ky_tu)) 

print(chuoi_so)

d = 0  
s = 1  

for i in chuoi_so:
    if i % 2 != 0: 
        d += 1
        s *= i

if d == 0:
    print('Không có số lẻ')
else:
    print(f'Tích các số lẻ = {s}')

Nhập một chuỗi:  hoa1234

[1, 2, 3, 4]
Tích các số lẻ = 3

In [38]:
class Oldcar:
    def __init__(sedf,brand,color,year,price):
        sedf.brand = brand
        sedf.color = color
        sedf.year = int(year)
        sedf.price = float(price)
    
    def info(sedf):
        return sedf.brand,sedf.year,sedf.price
    def setPrice(sedf,x):
        sedf.price = x
    def gia(sedf):
        return sedf.price

car = Oldcar('i10','White',2020,350)
car.setPrice(320)
car.info()

('i10', 2020, 320)

In [46]:
a = []
for i in range(5): 
    print(f'Nhap thong tin xe thu {i+1}')
    brand = input('Hang')
    color = input('Mau')
    year = int(input('Nam:'))
    price = float(input('Gia:'))
    a.append(Oldcar(brand,color,year,price))
    
for i in range(5):  
    print(a[i].info())

Nhap thong tin xe thu 1

Hang 1
Mau 2
Nam: 3
Gia: 123

Nhap thong tin xe thu 2

Hang 1
Mau 2
Nam: 3
Gia: 109

('1', 3, 123.0)
('1', 3, 109.0)

In [47]:
s = 0
for i in range(5):  
    a[i].setPrice(a[i].gia()- 10.0)
    s += a[i].gia()
print(s)

212.0

In [55]:
with open('Bangdiem.txt', 'r') as f:
    a = f.readlines()  
    b = a[-5:]  
    for i in b:
        print(i, end='')

95	9	7	7.6	DAT	B
96	5	3	3.6	HOCLAI	F+
97	4	3	3.3	HOCLAI	F+
98	8	2.5	4.2	DAT	D
99	9	3	4.8	DAT	D+

In [67]:
diem = []
d = 0

with open('Bangdiem.txt', 'r') as f: 
    for line in f:
        row = line.strip().split()
        try:
            score = float(row[3]) 
            if score > 7:
                diem.append(row)
                d += 1
        except ValueError:
            continue

if d == 0:
    print('Khong co sinh vien tren 7')
else:
    print(f'Co {d} sinh vien tren 7')
    print(diem)

Co 11 sinh vien tren 7
[['21', '8', '7', '7.3', 'DAT', 'B'], ['24', '10', '8', '8.6', 'DAT', 'A'], ['44', '9', '7.5', '8', 'DAT', 'B+'], ['47', '9', '6.5', '7.3', 'DAT', 'B'], ['49', '8', '8', '8', 'DAT', 'B+'], ['50', '9.5', '8', '8.5', 'DAT', 'A'], ['57', '10', '7.5', '8.3', 'DAT', 'B'], ['58', '10', '9', '9.3', 'DAT', 'A'], ['68', '8.5', '7', '7.5', 'DAT', 'B'], ['75', '8.5', '8', '8.2', 'DAT', 'B'], ['95', '9', '7', '7.6', 'DAT', 'B']]

NameError: name 'sìuóigoẹ' is not defined