In [24]:
import pandas as pd
import numpy as np

In [34]:
HS = []

while True:
    name = input("Họ tên sinh viên (bỏ trống để thoát): ")
    if name.strip() == "":
        break
    StudentId = input("Mã sinh viên: ")
    Birthday = input("Ngày sinh (dd/mm/yyyy): ")
    HS.append({"Name": name,"StudentId": StudentId,"Birthday": Birthday})

Họ tên sinh viên (bỏ trống để thoát):  a
Mã sinh viên:  1
Ngày sinh (dd/mm/yyyy):  27/07/2005
Họ tên sinh viên (bỏ trống để thoát):  b
Mã sinh viên:  2
Ngày sinh (dd/mm/yyyy):  13/10/2004
Họ tên sinh viên (bỏ trống để thoát):  c
Mã sinh viên:  3
Ngày sinh (dd/mm/yyyy):  12/12/2003
Họ tên sinh viên (bỏ trống để thoát):

In [35]:
df = pd.DataFrame(HS)
df

  Name StudentId    Birthday
0    a         1  27/07/2005
1    b         2  13/10/2004
2    c         3  12/12/2003

In [37]:
df.to_excel("students.xlsx", index=False)

In [39]:
df['Time'] = pd.to_datetime(df['Birthday'],dayfirst=True)
df['Year'] = df['Time'].dt.year
df['Age'] = 2025 - df['Year']

In [40]:
print("\nDanh sách sinh viên:")
print(df)

Danh sách sinh viên:
  Name StudentId    Birthday       Time  Year  Age
0    a         1  27/07/2005 2005-07-27  2005   20
1    b         2  13/10/2004 2004-10-13  2004   21
2    c         3  12/12/2003 2003-12-12  2003   22